.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.lf {
  font-size: 14px;
}
.important-color {
  color: #f40;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m5lr {
  margin-left: 5px;
  margin-right: 5px;
}
.m10lr {
  margin-left: 10px;
  margin-right: 10px;
}
.m15lr {
  margin-left: 15px;
  margin-right: 15px;
}
.m5tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.m10tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m15tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p5lr {
  padding-left: 5px;
  padding-right: 5px;
}
.p10lr {
  padding-left: 10px;
  padding-right: 10px;
}
.p15lr {
  padding-left: 15px;
  padding-right: 15px;
}
.p5tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.p10tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p15tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dib {
  display: inline-block;
}
.dif {
  display: inline-flex;
}
.db {
  display: block;
}
.df {
  display: flex;
}
.vam {
  vertical-align: middle;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.jic {
  justify-self: center;
}
.fg {
  flex-grow: 1;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.bred {
  border: 1px solid red;
}
.bredc * {
  border: 1px solid red;
}
.w5f {
  width: 5px;
  min-width: 5px;
  max-width: 5px;
}
.w10f {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}
.w15f {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}
.w20f {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}
.w25f {
  width: 25px;
  min-width: 25px;
  max-width: 25px;
}
.w30f {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}
.w40f {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
.w50f {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}
.w60f {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}
.w70f {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.w75f {
  width: 75px;
  min-width: 75px;
  max-width: 75px;
}
.w80f {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.w90f {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.w100f {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.w125f {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
}
.w150f {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.w175f {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
}
.w200f {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}
.w250f {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}
.w300f {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
.w350f {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}
.w400f {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}
.w450f {
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}
.w500f {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
}
.w550f {
  width: 550px;
  min-width: 550px;
  max-width: 550px;
}
.w600f {
  width: 600px;
  min-width: 600px;
  max-width: 600px;
}
.w650f {
  width: 650px;
  min-width: 650px;
  max-width: 650px;
}
.w700f {
  width: 700px;
  min-width: 700px;
  max-width: 700px;
}
.w750f {
  width: 750px;
  min-width: 750px;
  max-width: 750px;
}
.w800f {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}
.w850f {
  width: 850px;
  min-width: 850px;
  max-width: 850px;
}
.w900f {
  width: 900px;
  min-width: 900px;
  max-width: 900px;
}
.cp {
  cursor: pointer;
}
.fs8 {
  font-size: 8pt;
}
.fs9 {
  font-size: 9pt;
}
.fs10 {
  font-size: 10pt;
}
.fs11 {
  font-size: 11pt;
}
.fs12 {
  font-size: 12pt;
}
.fs13 {
  font-size: 13pt;
}
.fs14 {
  font-size: 14pt;
}
.fs15 {
  font-size: 15pt;
}
.fs16 {
  font-size: 16pt;
}
