@var: #ff0;
@page-bg: #fff;
@linkColor: #a50;

@productPanel-bg: #fefefe;
@productPanel-borderColor: #ddd;
@productPanel-color: #666;
@productPanel-shadowColor: #ddd;

@saleBtn-bg: #fa0;
@saleBtn-color: #fff;

@discountFlag-bg: #0a0;
@discountFlag-color: #fff;

@wishBtn-bg: #666;
@wishBtn-color: #fff;
@wishBtn-hover-bg: #a1cfb8;
@wishBtn-hover-color: #fff;

@addToCartBtn-bg: #f0eeee;
@addToCartBtn-borderColor: #cbc8c8;
@addToCartBtn-color: #222;
@addToCartBtn-hover-bg: #a1cfb8;
@addToCartBtn-hover-color: #fff;
@addToCartBtn-hover-borderColor: #78af93;

@currentPrice-color: #f18a36;
@oldPrice-color: #969595;
