@font-face {
  font-family: "nassim";
  src: url("../font/nassim.eot");
  src: url("../font/nassim.woff") format( "woff" );
  src: url("../font/nassim.ttf") format( "truetype" );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'traffic';
  src: url('../font/traffic.eot');
  src: url('../font/traffic.otf') format('opentype');
  src: url('../font/traffic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('../font/yekan.eot');
  src: url('../font/yekan.otf') format('opentype');
  src: url('../font/yekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,0.2) 0 0 1px;
}

.tiny { font-size: 60%; }
.small { font-size: 80%; }
.large { font-size: 120%; }
.huge { font-size: 140%; }
