.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.lf {
  font-size: 14px;
}
.important-color {
  color: #f40;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m5lr {
  margin-left: 5px;
  margin-right: 5px;
}
.m10lr {
  margin-left: 10px;
  margin-right: 10px;
}
.m15lr {
  margin-left: 15px;
  margin-right: 15px;
}
.m5tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.m10tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m15tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p5lr {
  padding-left: 5px;
  padding-right: 5px;
}
.p10lr {
  padding-left: 10px;
  padding-right: 10px;
}
.p15lr {
  padding-left: 15px;
  padding-right: 15px;
}
.p5tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.p10tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p15tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dib {
  display: inline-block;
}
.dif {
  display: inline-flex;
}
.db {
  display: block;
}
.df {
  display: flex;
}
.vam {
  vertical-align: middle;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.jic {
  justify-self: center;
}
.fg {
  flex-grow: 1;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.bred {
  border: 1px solid red;
}
.bredc * {
  border: 1px solid red;
}
.w5f {
  width: 5px;
  min-width: 5px;
  max-width: 5px;
}
.w10f {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}
.w15f {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}
.w20f {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}
.w25f {
  width: 25px;
  min-width: 25px;
  max-width: 25px;
}
.w30f {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}
.w40f {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
.w50f {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}
.w60f {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}
.w70f {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.w75f {
  width: 75px;
  min-width: 75px;
  max-width: 75px;
}
.w80f {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.w90f {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.w100f {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.w125f {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
}
.w150f {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.w175f {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
}
.w200f {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}
.w250f {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}
.w300f {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
.w350f {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}
.w400f {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}
.w450f {
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}
.w500f {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
}
.w550f {
  width: 550px;
  min-width: 550px;
  max-width: 550px;
}
.w600f {
  width: 600px;
  min-width: 600px;
  max-width: 600px;
}
.w650f {
  width: 650px;
  min-width: 650px;
  max-width: 650px;
}
.w700f {
  width: 700px;
  min-width: 700px;
  max-width: 700px;
}
.w750f {
  width: 750px;
  min-width: 750px;
  max-width: 750px;
}
.w800f {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}
.w850f {
  width: 850px;
  min-width: 850px;
  max-width: 850px;
}
.w900f {
  width: 900px;
  min-width: 900px;
  max-width: 900px;
}
.cp {
  cursor: pointer;
}
.fs8 {
  font-size: 8pt;
}
.fs9 {
  font-size: 9pt;
}
.fs10 {
  font-size: 10pt;
}
.fs11 {
  font-size: 11pt;
}
.fs12 {
  font-size: 12pt;
}
.fs13 {
  font-size: 13pt;
}
.fs14 {
  font-size: 14pt;
}
.fs15 {
  font-size: 15pt;
}
.fs16 {
  font-size: 16pt;
}
@font-face {
  font-family: "nassim";
  src: url("../font/nassim.eot");
  src: url("../font/nassim.woff") format("woff");
  src: url("../font/nassim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'traffic';
  src: url('../font/traffic.eot');
  src: url('../font/traffic.otf') format('opentype');
  src: url('../font/traffic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'yekan';
  src: url('../font/yekan.eot');
  src: url('../font/yekan.otf') format('opentype');
  src: url('../font/yekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}
.tiny {
  font-size: 60%;
}
.small {
  font-size: 80%;
}
.large {
  font-size: 120%;
}
.huge {
  font-size: 140%;
}
.icon {
  margin: 2px;
}
@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?v104');
  src: url('../font/icon.eot?v104#iefix') format('embedded-opentype'), url('../font/icon.ttf?v104') format('truetype'), url('../font/icon.woff?v104') format('woff'), url('../font/icon.svg?v104#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ic-"],
[class*=" ic-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-pencil:before {
  content: "\e600";
}
.ic-pencil2:before {
  content: "\e601";
}
.ic-image:before {
  content: "\e613";
}
.ic-copy:before {
  content: "\e602";
}
.ic-price-tag:before {
  content: "\e614";
}
.ic-ticket:before {
  content: "\e615";
}
.ic-cart:before {
  content: "\e616";
}
.ic-credit-card:before {
  content: "\e617";
}
.ic-lifebuoy:before {
  content: "\e603";
}
.ic-phone:before {
  content: "\e618";
}
.ic-envelop:before {
  content: "\e619";
}
.ic-location2:before {
  content: "\e604";
}
.ic-clock:before {
  content: "\e61a";
}
.ic-bell:before {
  content: "\e61b";
}
.ic-calendar:before {
  content: "\e61c";
}
.ic-printer:before {
  content: "\e61d";
}
.ic-mobile2:before {
  content: "\e61e";
}
.ic-download:before {
  content: "\e61f";
}
.ic-upload:before {
  content: "\e620";
}
.ic-database:before {
  content: "\e621";
}
.ic-bubble:before {
  content: "\e622";
}
.ic-bubbles:before {
  content: "\e623";
}
.ic-user:before {
  content: "\e624";
}
.ic-quotes-left:before {
  content: "\e625";
}
.ic-quotes-right:before {
  content: "\e626";
}
.ic-spinner9:before {
  content: "\e605";
}
.ic-search:before {
  content: "\e627";
}
.ic-key2:before {
  content: "\e628";
}
.ic-cog:before {
  content: "\e606";
}
.ic-stats-bars:before {
  content: "\e629";
}
.ic-trophy:before {
  content: "\e62a";
}
.ic-bin:before {
  content: "\e62b";
}
.ic-switch:before {
  content: "\e62c";
}
.ic-list:before {
  content: "\e611";
}
.ic-list2:before {
  content: "\e607";
}
.ic-cloud-download:before {
  content: "\e608";
}
.ic-earth:before {
  content: "\e62d";
}
.ic-link:before {
  content: "\e62e";
}
.ic-flag:before {
  content: "\e609";
}
.ic-eye:before {
  content: "\e62f";
}
.ic-eye-blocked:before {
  content: "\e630";
}
.ic-star-empty:before {
  content: "\e60a";
}
.ic-star-full:before {
  content: "\e60b";
}
.ic-heart:before {
  content: "\e631";
}
.ic-warning:before {
  content: "\e632";
}
.ic-plus:before {
  content: "\e60f";
}
.ic-minus:before {
  content: "\e610";
}
.ic-info:before {
  content: "\e633";
}
.ic-cross:before {
  content: "\e634";
}
.ic-checkmark:before {
  content: "\e635";
}
.ic-play3:before {
  content: "\e60c";
}
.ic-pause2:before {
  content: "\e60d";
}
.ic-stop2:before {
  content: "\e60e";
}
.ic-circle-up:before {
  content: "\e636";
}
.ic-circle-right:before {
  content: "\e637";
}
.ic-circle-down:before {
  content: "\e638";
}
.ic-circle-left:before {
  content: "\e639";
}
.ic-sort-amount-asc:before {
  content: "\e63a";
}
.ic-sort-amount-desc:before {
  content: "\e63b";
}
.ic-radio-checked:before {
  content: "\e63c";
}
.ic-radio-unchecked:before {
  content: "\e63d";
}
.ic-table2:before {
  content: "\e612";
}
.ic-new-tab:before {
  content: "\e63e";
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-ms-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
.spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.shake {
  -webkit-animation: shake 1s infinite linear;
  animation: shake 1s infinite linear;
}
.animated {
  display: inline-block;
}
* {
  margin: 0;
  padding: 0;
  font-family: nassim;
}
.en,
.ltr {
  font-family: tahoma;
}
body {
  background-color: #fff;
  color: #222;
  font-size: 10pt;
  direction: rtl;
}
html,
body {
  direction: rtl;
}
#content {
  max-width: 800px;
  margin: 50px auto 50px auto;
}
#header-wrapper,
#footer-wrapper {
  direction: rtl;
  background-color: #f2f2f2;
  position: fixed;
  height: 20px;
  width: 100%;
  border: none;
  padding: 5px 5px;
  display: flex;
  z-index: 1000;
}
#header-wrapper {
  top: 0;
  border-bottom: 1px solid #e4e4e4;
}
#footer-wrapper {
  bottom: 0;
  border-top: 1px solid #e4e4e4;
}
.productPanel {
  position: relative;
  width: 185px;
  height: 280px;
  border: 1px solid #ddd;
  background-color: #fefefe;
  transition: box-shadow 0.3s;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin: 3px;
}
.productPanel:hover {
  box-shadow: 0px 0px 10px #ddd;
  transition: box-shadow 0.3s;
}
.productPanel:hover .wishBtn {
  margin: 0px;
  transition: all 0.2s;
}
.proceedBtn,
.addToCartBtn,
.btn-blue,
.sbtn {
  display: inline-block;
  padding: 0px 8px;
  background-color: #f0eeee;
  color: #222;
  border: none;
  border-bottom: 2px solid #cbc8c8;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
}
.proceedBtn:hover,
.addToCartBtn:hover,
.btn-blue:hover,
.sbtn:hover {
  background-color: #a1cfb8;
  color: #fff;
  border-bottom: 2px solid #78af93;
  transition: all 0.2s;
}
.proceedBtn span:before,
.addToCartBtn span:before,
.btn-blue span:before,
.sbtn span:before {
  font-size: 11px;
  line-height: 26px;
  vertical-align: middle;
}
.addToCartBtn {
  position: absolute;
  bottom: 10px;
  width: 110px;
  left: 0;
  right: 0;
  margin: auto;
}
.productName {
  display: block;
  color: #666;
  font-size: 110%;
}
.currentPrice {
  color: #f18a36;
  font-size: 120%;
}
.oldPrice {
  color: #969595;
  font-size: 120%;
  text-decoration: line-through;
}
.saleFlag {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 1px 4px;
  background-color: #fa0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid transparent;
}
.discountFlag {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 1px 4px;
  background-color: #0a0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid transparent;
}
.wishBtn {
  position: absolute;
  right: 0;
  top: 20px;
  margin: 0 -25px;
  padding: 2px 4px 4px 4px;
  background-color: #666;
  color: #fff;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.wishBtn:hover {
  background-color: #a1cfb8;
  transition: all 0.2s;
}
.productThumbWrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.productThumb {
  margin-top: 20px;
  width: 128px;
  display: inline-block;
}
.productPanel-linear {
  transition: box-shadow 0.3s;
  text-align: right;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  margin: 3px;
  margin-bottom: 20px;
}
.productPanel-linear:hover .wishBtn-linear {
  margin: 0px;
  transition: all 0.2s;
}
.addToCartBtn-linear {
  display: inline-block;
  width: 120px;
  padding: 0px 4px;
  text-align: center;
  background-color: #f0eeee;
  color: #222;
  border: none;
  border-bottom: 2px solid #cbc8c8;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
}
.addToCartBtn-linear:hover {
  background-color: #a1cfb8;
  color: #fff;
  border-bottom: 2px solid #78af93;
  transition: all 0.2s;
}
.addToCartBtn-linear span:before {
  font-size: 11px;
  line-height: 26px;
  vertical-align: middle;
}
.productName-linear {
  display: block;
  text-align: right;
  font-size: 150%;
  color: #666;
}
.currentPrice-linear {
  text-align: right;
  font-size: 140%;
  color: #f18a36;
}
.oldPrice-linear {
  text-align: right;
  color: #969595;
  font-size: 120%;
  text-decoration: line-through;
}
.saleFlag-linear {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 1px 4px;
  background-color: #fa0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid transparent;
}
.discountFlag-linear {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 1px 4px;
  background-color: #0a0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid transparent;
}
.wishBtn-linear {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  max-width: 20px;
  font-size: 11px;
  vertical-align: middle;
  padding: 2px 4px 4px 4px;
  background-color: #f0eeee;
  color: #222;
  border-bottom: 2px solid #cbc8c8;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}
.wishBtn-linear:hover {
  background-color: #a1cfb8;
  border-bottom: 2px solid #78af93;
  transition: all 0.2s;
}
.productBtnWrapper-linear {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.productPanelRightSide {
  display: inline-flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  text-align: right;
  padding-right: 30px;
}
.productThumbWrapper-linear {
  border: 1px solid #ddd;
  background-color: #fefefe;
  height: 150px;
  display: inline-flex;
  flex-direction: row-reverse;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.3s;
}
.productThumbWrapper-linear:hover {
  box-shadow: 0px 0px 10px #ddd;
  transition: box-shadow 0.3s;
}
.productBrief-linear {
  text-align: right;
  font-size: 130%;
}
.productThumb-linear {
  margin-top: 20px;
  width: 128px;
  display: inline-block;
}
select {
  font-family: nassim;
  width: 100px;
}
input {
  font-family: nassim;
}
.cart {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#cart-items {
  background-color: rgba(255, 127, 0, 0.8);
  border-radius: 10px;
  color: #fff;
  height: 12px;
  width: 12px;
  vertical-align: middle;
  line-height: 9pt;
  font-size: 9pt;
  position: absolute;
  top: 8px;
  text-align: center;
  left: 0px;
}
.cartPreviewPanel {
  display: flex;
  vertical-align: middle;
  flex-direction: row-reverse;
  align-items: center;
}
.cartPreviewPanelRightSide {
  display: inline-flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}
.cartPreviewProductName {
  display: block;
  text-align: left;
  font-size: 90%;
  color: #666;
}
.cartPreviewCurrentPrice,
.cartPreviewQuantity {
  text-align: left;
  font-size: 90%;
  color: #f18a36;
  display: inline-block;
}
.cartPreviewThumbWrapper {
  border: 1px solid #ddd;
  background-color: #fefefe;
  height: 32px;
  display: inline-flex;
  width: 32px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
  flex-direction: column;
}
.cartPreviewThumbWrapper:hover {
  box-shadow: 0px 0px 10px #ddd;
  transition: box-shadow 0.3s;
}
.cartPreviewProductThumb {
  width: 32px;
}
.cartPreviewRemoveBtn {
  color: red;
  font-size: 4pt;
  border: 1px solid #aaa;
  display: inline-flex;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 4pt;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#cartPreviewHolder {
  width: 225px;
  display: none;
  background-color: #fff;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1000;
  box-shadow: 0px 0px 5px #222;
  padding: 10px;
  border-radius: 3px;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #a50;
}
.wishBtnFilled {
  color: #0f0;
}
.wishBtnEmpty {
  color: #fff;
}
.wishBtnFilled-linear {
  color: #f80;
}
.wishBtnEmpty-linear {
  color: #aaa;
}
.cartPanel {
  display: flex;
  vertical-align: middle;
  flex-direction: row-reverse;
  align-items: center;
}
.cartPanelRightSide {
  display: inline-flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}
.cartProductName {
  display: block;
  text-align: left;
  font-size: 120%;
  color: #666;
}
.cartCurrentPrice,
.cartQuantity,
.cartTotalOrderPrice {
  text-align: left;
  font-size: 120%;
  color: #f18a36;
  display: inline-block;
}
.cartThumbWrapper {
  border: 1px solid #ddd;
  background-color: #fefefe;
  height: 96px;
  display: inline-flex;
  width: 96px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
  flex-direction: column;
}
.cartThumbWrapper:hover {
  box-shadow: 0px 0px 10px #ddd;
  transition: box-shadow 0.3s;
}
.cartProductThumb {
  width: 96px;
}
.cartRemoveBtn {
  color: red;
  font-size: 6pt;
  border: 1px solid #aaa;
  display: inline-flex;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 6pt;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#cartHolder {
  width: 225px;
  display: none;
  background-color: #fff;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1000;
  box-shadow: 0px 0px 5px #222;
  padding: 10px;
  border-radius: 3px;
}
#cartDetail {
  width: 100%;
  direction: ltr;
}
#cartDetail th {
  background-color: #ddd;
  padding: 10px 0px;
}
#cartDetail tr td {
  border: 1px solid #ddd;
}
input,
select,
textarea {
  border: 1px solid #aaa;
  background-color: #fff;
  min-height: 28px;
  max-height: 28px;
  padding: 2px;
  font-size: 10pt;
  line-height: 10pt;
  color: #000;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0px 5px;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #ccc;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #aaf;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: nassim;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: nassim;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: nassim;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: nassim;
}
textarea {
  max-height: none;
}
.viewTypeBtn {
  cursor: pointer;
  font-size: 12pt;
  color: #000;
  width: 24px;
  height: 24px;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
}
#products {
  margin-top: 10px;
  padding: 0px 10px;
}
.sbtn {
  background-color: #ddd;
}
